{% extends "portfolio/main_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/about_page.css' %}">
{% endblock %}

{% block content %}


<div class="about_container">

	<div class="profile_header">
		<div class="profile_image_container">
			<img class="profile_image" src="{% static 'image/headshot2.png' %}" alt="Profile Photo">
		</div>
	</div>

	<div class="about_text_container">
		<span class="about_text">

			<span class="first_para">
			    I’m Jamie, a creative and enthusiastic web developer based in London. I’ve worked on a series of freelance projects for clients including <a href="https://www.mackenzymackay.com/" target="_blank" aria-label="link to the Mackenzt Mackay website">Sony Music</a>, digital agency <a href="https://hactar.is/" target="_blank" aria-label="link to the Hactar website">Hactar</a> and independent UK music powerhouse <a href="https://circus-records.co.uk/" target="_blank" aria-label="link to the Circus Records website">Circus Records</a>. My career has included a varied range of music industry roles, giving me a unique outlook on the digital world and how we incorporate technology and media into our lives.
			</span>

			<span>
			    Working in independent record shops, producing/releasing my own music and then managing a series of iconic UK electronic music labels has helped me learn what’s worthwhile, what works and what doesn’t. I came to realise that the most valuable factor is creativity, and working as a developer gives me the tools I need to make ideas a reality. 
			</span>

			<span>
			    Drawn to the nuts-and-bolts side of development, I focus on <span class="font_weight_bold">Python, Django</span> and <span class="font_weight_bold">PostgreSQL</span> to build stable, user-friendly platforms with clear and attractive interfaces. I’m experienced in deploying and maintaining <span class="font_weight_bold">Linux</span> servers hosted with cloud providers including DigitalOcean and working in teams via <span class="font_weight_bold">GitHub</span> projects. Recently I’ve been tailoring a <span class="font_weight_bold">Shopify</span> store for a client and using <span class="font_weight_bold">Spotify’s API</span> to retrieve and analyse data for another.
			</span>

			<span>
			    I’m looking forward to taking on more exciting projects and working with interesting and inspirational people. I look forward to speaking soon!
			</span>

		</span>
	</div>

</div>


{% endblock content %}