{% extends "portfolio/main_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/about_page.css' %}">
{% endblock %}

{% block content %}


<div class="about_container">

	<div class="profile_image_container">
		<img class="profile_image" src="{% static 'image/headshot.png' %}" alt="Profile Photo">
	</div>

	<div class="about_text_container">
		<span class="about_text">

			<span>
			I am a passionate and adaptable web developer
			with a background in the creative and
			technology industries. I specialise in back-end
			development using Python, Django, Wagtail
			CMS and PostgreSQL.
			</span>

			<span>
			I have designed, developed and deployed
			websites for different clients, including a full
			redesign and rebuild for Circus Records, Sony/
			Relentless Records artist Mackenzy Mackay and
			contributed to CommunityHospice.org.uk.
			</span>

			<span>
			As a leader in the music industry I have gained
			a wealth of experience in project management,
			strategic planning and a pragmatic approach
			to problem solving. It’s taught me to identify
			challenges and design solutions that address
			issues effectively whilst maintaining exceptional
			attention to detail.
			</span>

			<span>
			I enjoy working in creative
			and dynamic environments, taking the initiative
			and learning new concepts and viewpoints.
			I am experienced in using Adobe Photoshop,
			Figma and Sketch for collaborating with
			designers and delivering projects to brief.
			</span>

		</span>
	</div>

</div>


{% endblock content %}