{% extends "portfolio/main_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/contact_page.css' %}">
{% endblock %}

{% block content %}

<div class="contact_page_container">

	<div class="contact_header_container">
		<span class="contact_header_text">Contact Me</span>
	</div>

	<div class="contact_text_container">
		<span class="contact_text">
		If you’re after a back-end developer with front-end experience, hit me up. I’m available for freelance jobs of any size, and open to in-house roles. I look forward to working together!
		</span>
	</div>

	<div class="contact_links_container">
		<ul class="contact_links">

			<li>
				<a href="mailto:jamie@jmgk.dev" class="contact_link" aria-label="Link to send email"><img src="{% static 'image/email.png' %}" alt="Email logo" class="service_logo">
					<span class="service_title">jamie@jmgk.dev</span>
				</a>
			</li>

			<li>
				<a href="https://www.linkedin.com/in/jamie-kingett/" target="_blank" class="contact_link" aria-label="Link to LinkedIn"><img src="{% static 'image/in_black.png' %}" alt="LinkedIn logo" class="service_logo">
				<span class="service_title">LinkedIn</span>
				</a>
			</li>

			<li><a href="https://github.com/jmgk-dev" target="_blank" class="contact_link" aria-label="Link to GitHub"><img src="{% static 'image/github-mark.png' %}" alt="GitHub logo" class="service_logo">
				<span class="service_title">GitHub</span>
				</a>
			</li>

		</ul>
	</div>

</div>

{% endblock content %}