{% extends "portfolio/main_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/home_page.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
{% endblock %}

{% block content %}

<div class="home_page_container">
	

	<div class="header_container">

		<div class="main_container">

			<span class="main_text">Hi, I’m Jamie Kingett. I’m a web developer specialising in Python 
			and Django. Check out some of my work below, connect with me <a href="{% url 'portfolio:contact' %}" class="here_link" aria-label="Link to my contact page">here</a>.
			</span>

		</div>

	</div>


	<div class="divider_container">
		<div class="divider"></div>
	</div>


	<div class="portfolio_container">

		<ul class="portfolio_items">
		{% for project in object_list %}
		<li class="portfolio_item">
			<span class="project_image_container">
				<a href="{% url 'portfolio:project_detail' slug=project.slug %}">
					<img class="project_image" src="{{ project.image.url }}" alt="screenshot of {{project.title}} project">
				</a>
			</span>
			<div class="project_title_container">
				<div class="project_title">
					<a href="{% url 'portfolio:project_detail' slug=project.slug %}" class="project_text"><span>{{project.title}}</span></a>
			</div>

		</li>
		{% endfor %}
		</ul>

	</div>


</div>

{% endblock content %}