{% extends "portfolio/main_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/project_detail.css' %}">
{% endblock %}

{% block content %}


	<div class="project_container">

		<div class="title_container">
			<span class="title_text">{{ object.title }}</span>
		</div>

		<div class="text_container">
			<span class="main_text">{{ object.description }} <a href="{{ object.link }}" target="_blank" class="visit_link" aria-label="Follow link to visit live site">Visit Site</a></span>
		</div>

		<div class="image_container">
			<a href="{{ object.link }}" target="_blank" aria-label="Follow link to visit live site"><img class="project_image" src="{{ object.image.url }}" alt="Screenshot of {{object.title}} project"></a>
		</div>

	</div>


{% endblock content %}