.about_container {
	display: grid;
	grid-template-rows: auto auto auto;
	margin-left: 8vw;
	margin-right: 8vw;
}

.profile_header {
	grid-row: 1;
	display: flex;
	justify-content: center;
	margin-top: 130px;
}

.profile_image_container {
	width: 60%;
	display: flex;
	justify-content: flex-start;
	background-color: #bd19bd;
	border-radius: 5px;
}

.profile_image {
	display: fixed;
	border-width: 1px;
	width: 200px;
	height: auto;
	animation: fadeIn 0.5s;
	border-radius: 5px;
}

.profile_image_text {
	color: white;
	font-size: 30px;
	font-style: normal;
	font-weight: 300;
	margin-top: 2vw;
	margin-left: 2vw;
	margin-right: 2vw;
}

.text1 {animation: fadeIn 0.5s;}

.text2 {animation: fadeIn 2s;}

.text3 {animation: fadeIn 2s;}

.about_text_container {
	grid-row: 2;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

.about_text {
	width: 60%;
  font-size: 18px;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	gap: 10px;
	animation: fadeIn 1s;
}

.first_para {
	font-weight: 400;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



@media screen and (max-width: 1700px) {

	.about_container {
		margin-left: 0vw;
		margin-right: 0vw;
	}

}

@media screen and (max-width: 1000px) {

	.profile_image_container {
		width: 90%;
	}

	.about_text {
		width: 90%;
	}

	.profile_image_text {
		font-size: 25px;
		margin-top: 4vw;
		margin-left: 4vw;
		margin-right: 4vw;
	}

}

@media screen and (max-width: 800px) {

	.about_text_container {
		grid-row: 2;
		margin-top: 30px;
		display: flex;
		justify-content: center;
	}

}

@media screen and (max-width: 600px) {

	.about_text {
	  font-size: 16px;
	}

	.profile_image_text {
		font-size: 20px;
		margin-top: 2vw;
		margin-left: 2vw;
		margin-right: 2vw;
	}

	.profile_image {
		width: 130px;
	}


}

@media screen and (max-width: 500px) {


	.profile_image {
		width: 130px;
	}

	.about_text {
	  font-size: 16px;
	}

	.profile_image_text {
		font-size: 17px;
		margin-top: 2vw;
		margin-left: 2vw;
		margin-right: 2vw;
	}


}

@media screen and (max-width: 400px) {

	.profile_image {
		width: 130px;
	}

	.profile_image_text {
		font-size: 15px;
		margin-top: 2vw;
		margin-left: 2vw;
		margin-right: 2vw;
	}

	.about_text {
	  font-size: 15px;
	}


}

@media screen and (max-width: 300px) {

	.profile_image {
		width: 110px;
	}

	.profile_image_text {
		font-size: 12px;
		margin-top: 2vw;
		margin-left: 2vw;
		margin-right: 2vw;
	}

	.about_text {
	  font-size: 12px;
	}


}

@media screen and (max-width: 250px) {

	.profile_image {
		display: none;
	}

	.profile_image_container {
		height: auto;
	}

	.profile_image_text {
		margin-bottom: 10px;
	}

  .about_text_container {
    margin-top: 10px;
   }


}






