.about_container {
	display: grid;
	grid-template-rows: auto auto auto;
	margin-left: 70px;
	margin-right: 70px;
}

.profile_header {
	grid-row: 1;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.profile_image_container {
	width: 950px;
	display: flex;
	justify-content: flex-start;
	background-color: purple;
}

.profile_image {
	border-width: 1px;
/*	border-radius: 25px;*/
	width: 200px;
	animation: fadeIn 2s;
/*	box-shadow: rgb(100 100 111 / 39%) 0px 7px 29px 0px;*/
}

.about_text_container {
	grid-row: 2;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

.about_text {
	max-width: 950px;
  	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	gap: 10px;
	animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



@media screen and (max-width: 1200px) {

	.about_text {
		max-width: 800px;
	  	font-size: 14px;
	}

}

@media screen and (max-width: 1000px) {

	.about_text {
		max-width: 600px;
	  	font-size: 14px;
	}

}

@media screen and (max-width: 800px) {

	.about_text {
		max-width: 500px;
	  	font-size: 14px;
	}

}

@media screen and (max-width: 600px) {

	.about_text {
	  	font-size: 13px;
	}

	.profile_image {
		width: 150px;
		border-radius: 15px;
	}

	.about_container{
		margin-left: 50px;
		margin-right: 50px;
	}

}




