a {
	color: white;
}

.about_container {
	display: grid;
	grid-template-rows: auto auto auto;
	margin-left: 8vw;
	margin-right: 8vw;
}

.profile_header {
	grid-row: 1;
	display: flex;
	justify-content: center;
	margin-top: 130px;
}

.profile_image_container {
	position: relative;
	z-index: 1;
	width: 60%;
	display: flex;
	justify-content: flex-start;
}

.profile_image {
	position: absolute;
	z-index: 9999;
	border-width: 1px;
	width: 180px;
	height: auto;
	animation: fadeIn 0.5s;
	border-radius: 5px;
	box-shadow: rgb(100 100 111 / 39%) 0px 7px 29px 0px;
}

.about_text_container {
	grid-row: 2;
	margin-top: 140px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

.about_text {
	width: 65%;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	line-height: 1.4;
	padding: 20px;
	padding-top: 60px;
	background-color: #8511c7;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	animation: fadeIn 1s;
	border-radius: 5px;
}

.first_para {
	font-weight: 600;
}

.font_weight_bold {
	font-weight: 600;
}

.font_colour {
	color: black;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



@media screen and (max-width: 1700px) {

	.about_container {
		margin-left: 0vw;
		margin-right: 0vw;
	}

}

@media screen and (max-width: 1000px) {

	.profile_image_container {
		width: 70%;
	}

	.about_text {
		width: 80%;
	}

}

@media screen and (max-width: 800px) {

	.profile_image {
		width: 180px;
	}

}

@media screen and (max-width: 600px) {

	.about_text_container {
		margin-top: 125px;
	}

	.about_text {
	  font-size: 16px;
	}

	.profile_image {
		width: 160px;
	}

}

@media screen and (max-width: 500px) {


	.profile_image_container {
		width: 80%;
	}

	.profile_image {
		width: 135px;
	}

	.about_text_container {
		margin-top: 100px;
	}

	.about_text {
	  font-size: 16px;
	}


}

@media screen and (max-width: 400px) {


	.about_text {
	  font-size: 15px;
	}


}

@media screen and (max-width: 300px) {


	.about_text {
	  font-size: 12px;
	}


}

@media screen and (max-width: 250px) {


	.profile_image_container {
		height: auto;
	}

  .about_text_container {
    margin-top: 10px;
   }


}






