.project_container {
	display: grid;
	grid-template-rows: auto auto auto;
}

.title_container {
	grid-row: 1;
	padding: 0;
	display: flex;
	justify-content: center;
	margin-top: 130px;
}

.text_container {
	grid-row: 2;
	padding: 0;
	display: flex;
	justify-content: center;
}

.title_text {
  	font-size: 30px;
	font-style: normal;
	font-weight: 500;
}

.main_text {
	margin-top: 50px;
	margin-left: 18vw;
	margin-right: 18vw;
  	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	line-height: 1.4;
}

.visit_link {
	color: purple;
	font-weight: 400;
}

.image_container {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
	margin-left: 5vw;
    margin-right: 5vw;
}

.project_image {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width: 50vw;
	margin-top: 30px;
	box-shadow: rgb(100 100 111 / 39%) 0px 7px 29px 0px;
}


@media screen and (max-width: 1700px) {



}


@media screen and (max-width: 1500px) {



.project_image {
		margin-top: 10px;
	}


}



@media screen and (max-width: 1200px) {

	.main_text {
  		margin-left: 6vw;
		margin-right: 6vw;
	}


	.project_image {
		width: 100%;
	}


}

@media screen and (max-width: 900px) {


}


@media screen and (max-width: 700px) {



}

@media screen and (max-width: 500px) {


	.project_image {
		margin-top: 0px;
	}


	.title_text {
		font-size: 23px;
	}

	.main_text {
  		font-size: 16px;
	}


}


@media screen and (max-width: 400px) {



}