body {
/*	background-color: white;*/
	margin: 0; 
}

* {
	font-family: Montserrat;
	letter-spacing: 1px;
}

li {
	list-style-type: none;
}

ul {
	padding: 0;
}

button {
	background-color: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#bg-wrap {
/*	display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}

svg {
    width: 100%;
    height: 100%;
}

.top_bar {
	height: 150px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: fixed;
	pointer-events: none;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
	z-index: 10;
}

.jmgk_logo_container {
	grid-column: 1;
	pointer-events: auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.jmgk_logo {
	width: 50px;
	margin-top: 20px;
	margin-left: 20px;
}

.question_mark {
	width: 50px;
	margin-top: -3px;
}

.top_bar_links_container {
	grid-column: 2;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	color: black;
	margin-top: 30px;
	margin-right: 6vw;
}

.top_bar_links {
	display: flex;
	gap: 2vw;
}

.top_bar_link {
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	pointer-events: auto;
}

.top_bar_spacer {
	font-size: 20px;
	vertical-align: middle;
}

.footer_links_container {
	display: flex;
	justify-content: center;
}


@media screen and (max-width: 1200px) {

/*	.jmgk_logo {
		width: 50px;
		margin-top: 10px;
		margin-left: 10px;
	}

	.question_mark {
		width: 43px;
		margin-top: -13px;
	}*/

	.top_bar_link {
		font-size: 17px;
	}

}


@media screen and (max-width: 800px) {


	.top_bar_link {
		font-size: 15px;
	}

}

@media screen and (max-width: 400px) {

/*	.top_bar_link {
		font-size: 1px;
	}*/

}

